<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="UserMapperImpl" class="com.yu.pojo.UserMapperImpl"/>

    <bean id="UserServiceImpl" class="com.yu.service.UserServiceImpl">
        <property name="UserMapper" ref="UserMapperImpl"/>
    </bean>

</beans>